#!/bin/sh

if [ $DESKTOP_SESSION = 'cwm' ]; then
	homedir=$(echo $HOME)
	sh $homedir/.config/cwm/autostart.sh
fi

if [ $DESKTOP_SESSION = '/usr/share/xsessions/cwm' ]; then
	homedir=$(echo $HOME)
	sh $homedir/.config/cwm/autostart.sh
fi